.logo_img{
    width: 250px;
}
.header__color{
    background-color: #027dc3;
}
.color-white{
    background: aliceblue;
}
.pl-7{
    padding-left: 30px;
}
.font-size{
    font-family: "IBM Plex Sans", Sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: #19324c;
    font-size: 44px;
}
.section{
    padding:60px 0
}
svg.circle-progress {
    transform: rotate(-90deg);
}
.card_title{
    color: #19324c;
    font-size: 36px;
}
.priceing_tag {
    text-align: center;
    padding: 5px;
    color: white;
}
.price_text{
    font-size: 48px;
}
.price_link{
    padding: 0px 0px 50px 0px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #e5eaef;
    border-radius: 0px 0px 3px 3px;
}
.price_sales{
    color: #8594a3;
    vertical-align: baseline;
    text-decoration: line-through;
    display: block;
}
.seales_tag{
    position: relative;
}
.sales_inner{
    position: absolute;
    top: 0;
    right: 0;
}
.card-body h4{
    font-size: 22px;
}
.speed_meter {
    position: relative;
}
.center_title {
    bottom: 0;
    left: 0;
    color: #19324c;
    font-family: "IBM Plex Sans", Sans-serif;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.speed_title {
    position: absolute;
    bottom: -51px;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.icon_list{
    background-color: #ecf0f2;
    color: #4e5d73;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 50%;
}
.elementor a, .elementor button{
    -webkit-box-shadow: none;
    box-shadow: none;
    color: gray;  
}
.elementor a, .elementor button:hover{
    text-decoration: none;
}
ul {
	list-style: none;
}
.steps_title{
    font-size: 36px;
}
.step_info {
    display: inline-block;
    border: 1px solid #4173f2;
    background: white;
    color: #4173f2;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 9px;
    font-weight: 600;
}
.steps_inner{
    position: relative;
}
.steps_inner::before {
    content: "";
    border: 1px solid #4173f2;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 17px;
    display: flex;
}
.work_plan {
    line-height: revert;
    background: white;
    margin-top: 15px;
    padding: 18px;
}
.text-size-20{
    font-size: 20px;
}
.massege_inner {
    padding: 14px;
    text-align: center;
    margin-top: 14px;
}
.massege_inner a{
    color: #405870;
}
.massege_inner:hover{
    background-color: #007bff;
}
.massege_inner:hover a{
    text-decoration: none;
    color: white;
}
.tel_right{
    padding: 14px;
    margin-top: 14px;
    color: #405870;
}
.phone_title {
    margin-left: 27px;
    margin-top: 15px;
    color: #405870;
}
.list-style:hover{
    text-decoration: none;
}
.input_text{
    padding-bottom: 10px;
    padding-top: 6px;
}
.banner_img{
    animation-delay: 1.5s;
}
.banner__left{
   animation-delay: .05s;
}
.navbar-brand{
    animation-iteration-count: infinite;
}
.massege_right{
    position: sticky;
    top: 50px;
}